.btn {
  background: transparent;
  border: 2px solid aliceblue;
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
  margin-top: 10px;
  cursor: pointer;
  color: aliceblue;
}

.btn:hover {
  background-color: #010B28;
  transition-duration: 0.5s;
  transform: translateY(-7px);
}
